body {
  background-color: blanchedalmond;
  color: dimgray;

}

hr {
border-style: dotted none none;
border-color: white;
border-width: 8px;
width: 90%;
}

img{
height:220px;
border-radius: 50%;
border-style: dotted;
border-color: white;
border-width: 5px;

}

h1{
  color: #fa744f;

}

h3{
color: #f78259;
}
